/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Reusable */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.section {
  padding: 80px 0;
}

.section.light {
  background: #f4f4f4;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Navbar */
header {
  background: #111;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  color: #00adb5;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #00adb5, #393e46);
  color: #fff;
  text-align: center;
}

.hero h2 {
  font-size: 2.5rem;
}

.hero span {
  color: #ffd369;
}

.hero p {
  margin: 15px 0;
}

.btn {
  display: inline-block;
  background: #ffd369;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  text-align: center;
}

.skills-grid span {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
}

/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Footer */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero h2 {
    font-size: 2rem;
  }
}